@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Poppins';
}

/* Register Container */

.registerContainer {
  margin: 36px 12px;

}

/* Register End */


/* ------------------------- */


/* Stepper Start */

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0;
}

.stepperProgress {
  width: 100%;
  height: 8px;
  background: #5ba2fe2f;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.stepperFill {
  height: 100%;
  background: #5BA2FE;
  border-radius: 10px;
}

.stepContainer .steps {
  display: flex;
  justify-content: space-between;
  width: 120%;
  margin-top: -14px;
}

.stepContainer .steps .step {
  text-align: center;
  flex: 1;
}

.stepContainer .steps .step-number {
  border-radius: 24px;
  background: #5ba2fe2f;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 8px;
  border: 2px solid #5ba2fe2f;

}

.stepContainer .steps .step.active .step-number {
  background: #5BA2FE;
  color: white;
}

.stepContainer .steps .step-label {
  display: block;
  font-size: px;
  margin-top: 5px;
}


/* Stepper End */

/* ------------------------- */

/* Component */

.RegisterComponent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.RegisterComponent h2 {
  font-size: 20px;
}

.componentHeading {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #5BA2FE;
}

.componentHeading h2 {
  font-size: 20px;
}

.nameInput {
  display: flex;
  gap: 6px;
  flex-direction: column;
  margin-bottom: 12px;
}

.nameInput label {
  font-size: 14px;
  margin-left: 24px;
  font-weight: 600;
  color: #353535;
}

.nameInput input {
  padding: 16px 24px;
  border-radius: 12px;
  border: 1px solid #5ba2fe;
  background: white;
  font-size: 14px;
}

.dobSelection {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.dobSelection label {
  font-size: 14px;
  margin-left: 20px;
  font-weight: 600;
}

.dobSelection .dobInputs {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding-bottom: 12px;
}

.dobSelection .dobInputs select {
  padding: 16px 24px;
  border: 1px solid #5BA2FE;
  border-radius: 12px;
}

.dobSelection .dobVariable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.dobSelection .dobVariable span {
  font-size: 12px;
}

.nameInput input::placeholder {
  font-size: 14px;
}

.genderAction {
  display: flex;
  gap: 24px;
  padding: 12px 0;
}

.genderAction .genderBox {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #5BA2FE;
  color: #5BA2FE;
  padding: 12px 24px;
  border-radius: 12px;
  flex-direction: row;
  max-width: fit-content;
  box-shadow: 2px 4px 10px #5ba2fe3f;
  transition-duration: 0.5s;
  cursor: pointer;
}

.genderAction .genderBox:hover {
  box-shadow: none;
  transition: 0.5s;
}

.proceed,
.back {
  background-color: #5ba2fe;
  color: #ffffff;
  border: 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  max-width: fit-content;
  font-size: 16px;
  margin-top: 12px;
  font-weight: 600;
  box-shadow: 0px 6px 0px #bbd9ff;
  transition-duration: 0.5s;
}

.proceed:hover,
.back:hover {
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Weight Start */

.weightContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  padding: 12px 0;

}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputContainer .inputPack {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.inputContainer .inputPack input {
  padding: 16px 24px;
  border: 1px solid #5BA2FE;
  border-radius: 12px;
  width: 100%;
  font-size: 16px;
  color: #5BA2FE;
}

.inputContainer .inputPack .inputMeasure {
  padding: 16px 24px;
  background-color: #5BA2FE;
  color: white;
  border-radius: 12px;
  text-align: center;
  font-size: 24px;
}

.error {
  font-size: 14px;
  margin-top: 12px;
  border-bottom: 1px solid #5BA2FE;
  max-width: fit-content;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}



/* Weight End */


/* Lifestyle Box */

.lifestyleContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.lifestyleBox {
  padding: 12px 24px;
  border: 1px solid #5BA2FE;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.lifestyleBox h2 {
  font-size: 14px;
}

.lifestyleBox p {
  font-size: 12px;
}

.lifestyleBoxSelected {
  background-color: #5BA2FE;
  color: #ffffff;
  cursor: pointer;
}

/* Lifestyle End */

/* Register start */

.inputContainer {
  display: flex;
  gap: 24px;
}

.inputContainer>input {
  border: 1px solid #5BA2FE;
  padding: 20px 24px;
  border-radius: 12px;
  font-size: 16px;
}

/* Register End */

/* Login start */

.LoginComponent {
  margin: 36px 12px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;

}

.inputWrapper input {
  padding: 24px 32px;
  border: 1px solid #5BA2FE;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

.inputWrapper input:focus {
  border-color: #007bff;
}

.placeholderLabel {
  position: relative;
  top: 24px;
  max-width: fit-content;
  font-size: 12px;
  color: #007bff;
  background-color: white;
  padding: 0 5px;
}

/* Login end */

@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInMove2 {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.boxDesign {
  width: 250px;
  height: 250px;
  border-radius: 500px;
  position: fixed;
  top: -100px;
  right: -150px;
  background-color: #5ba2fe35;
  z-index: 0;
  opacity: 0;
  animation: fadeInMove 1s ease-in forwards;
}

.boxDesign2 {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  position: fixed;
  top: 550px;
  left: -100px;
  background-color: #5ba2fe35;
  z-index: -1;
  opacity: 0;
  animation: fadeInMove2 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.loginDirect {
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
  position: fixed;
  bottom: 10px;
  animation: fadeInMove 2s ease-in forwards;
}

/* welcome start */

.welcomeContainer {
  margin: 32px 16px;

}

/* welcome end */

/* Authornavbar start */

.authorNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.authorNavbar .userInfo {
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
}


.authorNavbar .userInfo .userDetails {
  display: flex;
  flex-direction: column;
}

.authorNavbar .userInfo .userDetails .desc {
  display: flex;
  align-items: center;
  gap: 4px;
}

.profileButton,
.logoutButton {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: 0;
  background-color: #5ba2fe1f;
  cursor: pointer;
  color: #5BA2FE;
}

/* AuthorNavbar End */

.dashboard {
  margin: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bmiTool {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px #00000020;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.bmiTool .toolHeading {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bmiTool .bmiMetric {
  display: flex;
  gap: 12px;
  align-items: center;
}

.bmiMetric {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 24px;
}

.halfCircleProgress {
  position: relative;
  width: 200px;
  height: 100px;
  /* Half-circle height */
  overflow: hidden;
}

.halfCircleProgress::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  border: 10px solid #f0f0f0;
  /* Background color of the progress bar */
  border-radius: 100px 100px 0 0;
  border-bottom: none;
  box-sizing: border-box;
}

.progressBar {
  position: absolute;
  width: 200px;
  height: 100px;
  border: 10px solid transparent;
  /* Transparent by default */
  border-top: 10px solid #007bff;
  /* Default color, will be overridden */
  border-left: 10px solid #007bff;
  /* Default color, will be overridden */
  border-radius: 100px 100px 0 0;
  box-sizing: border-box;
  transform-origin: bottom center;
  /* Rotate from the bottom center */
  transform: rotate(-180deg);
  /* Start from the left side */
  transition: transform 1.5s ease-out, border-top-color 1.5s ease-out, border-left-color 1.5s ease-out;
}

.bmiValue {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.bmiDescription {
  margin-top: -10px;
  background-color: #ffffff;
  padding: 6px 24px;
  border: 1px solid #5BA2FE;
  border-radius: 24px;
  font-size: 14px;
  color: #555;
}

.toggleButton {
  background-color: #5ba2fe;
  color: #ffffff;
  border: 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-size: 16px;
  /* margin-top: 12px; */
  font-weight: 600;
  box-shadow: 0px 6px 0px #bbd9ff;
  transition-duration: 0.5s;
  cursor: pointer;
}

.toggleButtonLight {
  background-color: #5ba2fe20;
  color: #5BA2FE;
  border: 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-size: 16px;
  /* margin-top: 12px; */
  font-weight: 600;
  box-shadow: 0px 6px 0px #bbd9ff;
  transition-duration: 0.5s;
  cursor: pointer;
}

.toggleButtonLight:hover {
  box-shadow: none;
  background-color: #5BA2FE40;
}

.toggleButton:hover {
  box-shadow: none;
}

.bmiInputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bmiInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bmiInput label {
  font-size: 16px;
  font-weight: bold;
}

.bmiInput input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.checkButton {
  background-color: #5ba2fe;
  color: #ffffff;
  border: 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px; 
  font-size: 12px;
  margin-top: 12px;
  font-weight: 600;
  box-shadow: 0px 6px 0px #bbd9ff;
  transition-duration: 0.5s;
  cursor: pointer;
}

.checkButton:hover {
  box-shadow: none;
}

.bmiGraph {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}


/* Dashboard end */


/* Profile start */

.profile {
  display: flex;
  flex-direction: column;
  margin: 36px 12px;
}

.profile .profileDetails {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 24px;
  font-weight: 600;

}

.profile .profileDetails .personalHeading {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  color: #5ba2fe;
  border-bottom: 1px solid #5BA2FE;
  padding-bottom: 12px;
}

.profile .profileDetails label {
  font-size: 16px;
}

.profile .profileDetails input,
select {
  padding: 16px;
  border-radius: 12px;
  border: 0.5px solid rgb(227, 227, 227);
}

.twoButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.twoButtons button {
  width: 100%;
}

/* Profile End */

/* logdiet starts */

.img_cal_sizeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}

.imgContainer {
  width: 100%;
  height: 100%;
  border: 2px dashed rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px;
  height: 250px;
  background-color: white;
  box-shadow: 0 1px 8px #00000020;
}

.uploadLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: #5ba2fe20;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

.uploadLabel span {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #5BA2FE;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 12px;
}

.uploadLabel img {
  min-width: 120px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}



.uploadLabel:hover {
  background: #5ba2fe40;
}

.cal_sizeContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 250px;
  justify-content: space-between;
}

.calContainer {
  padding: 32px 16px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  gap: 42px;
}

.calContainer span:first-child {
  font-size: 12px;
  font-weight: 600;
}

.calContainer span:nth-child(2) {
  font-size: 42px;
  line-height: 24px;
  font-weight: 600;
  color: #5ba2fe;
}

.calContainer strong {
  font-size: 16px;
}

.sizeContainer {
  display: flex;
  flex-direction: row;
}

.logDiet form input {
  font-size: 12px;
  padding: 16px;
  border: 1px solid #5ba2fe;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
  width: 100%;
  max-width: -webkit-fill-available;
}

.logDiet form input::placeholder {
  max-width: fit-content;
  font-size: 12px;
  color: #000000;
  background-color: white;
}

.sizeContainer input:focus {
  border-color: #3a8ce6;
}


.food_inputContainer {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 24px;
  background-color: white;
  box-shadow: 0 1px 8px #00000020;
  border: 1px solid #00000050;
  margin: 12px 0;
  border-radius: 12px;
  padding: 24px;
}

.food_inputContainer span {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 24px;
  border-bottom: 2px dashed #5BA2FE;
}

.food_inputContainer .macrosValue {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 12px;
}

.food_inputContainer .macrosValue input {
  width: 100%;
}


/* ____ */

/* Add these styles to your existing CSS */
.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: transparent;
  z-index: 1;
}

.input-group input:focus {
  outline: none;
  border-color: #4f46e5;
  /* Change to your preferred focus color */
}

.input-label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: white;
  padding: 0 4px;
  z-index: 2;
}

.input-label.focused {
  top: 0;
  transform: translateY(-50%) scale(0.9);
  color: #4f46e5;
  /* Change to match your focus color */
  font-size: 0.8rem;
}

/* Adjust existing styles to accommodate the new layout */
.food_inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.macrosValue {
  display: flex;
  gap: 1rem;
}

.macrosValue .input-group {
  flex: 1;
}



/* logdiet ends */


/* Workout templates */

.workoutLive {
  margin: 32px 12px 120px 12px;
}


.searchContainer {
  display: flex;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}


.searchInput {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #5BA2FE;
  border-radius: 12px;
}


.categoryContainer {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  margin-bottom: 20px;
  scrollbar-width: none;
}

.categoryItem {
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 12px;
  background: #5BA2FE20;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
}

.categoryItem:hover {
  background-color: #5BA2FE10;
}

.categoryItem.active {
  background: #5BA2FE;
  color: white;
  font-weight: bold;
}

/* Workout List */
.workout-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.workout-card {
  min-width: 120px;
  max-width: 150px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 0 8px #00000010;
  display: flex;
  flex-direction: column;
}

.workout-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 1px solid #00000010;
  box-shadow: inset 4px 4px 5px rgb(69, 69, 69);
}

.show-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


/* Timer Section */
.timerDuration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  gap: 12px;
  flex-direction: column;
}

.timerActions {
  display: flex;
  gap: 12px;
  margin: 24px 0;
  width: 100%;
}

.showAfterStart {
  display: flex;
  gap: 12px;
  width: 100%;
}

.timerActions button {
  background: #fff;
  box-shadow: 1px 1px 8px #d3e2ff;;
  padding: 16px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #00000020;
  transition-duration: 0.3s;
  width: 100%;
}

.timerActions button:hover {
  box-shadow: none;

}

.timerCount {
  background: #fff;
  border: 2px solid #d3e2ff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #5ba2fe;
}

.timerCount span {
  background: #fff;
  border: 2px solid #d3e2ff;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
}

/* Workout Container */
.workoutContainer {
  display: flex;
  flex-direction: column;
}

.workoutCard input {
  border: 0;
  border-bottom: 1px solid #5ba2fe;
  padding: 16px 16px;
  border-radius: 12px;

}

.workoutCard input:focus {
  outline: none;
  border: 2px solid #5ba2fe60;
  box-shadow: 0 0 0 3px #5ba2fe20;
  transition: all 0.1s ease;
}

.workoutCard input::placeholder {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
}

.addActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  box-shadow: 1px 4px 8px #5ba2fe60;
  z-index: 1;
  background-color: white;
  padding: 12px;
  min-width: 330px;
  max-width: 350px;

}

.addActions button {
  width: 100%;
  font-size: 12px;

}

.showWorkout {
  background: #d3e2ff;
  padding: 16px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  width: 50%;
  color: #5ba2fe;
  text-align: center;
  font-size: 12px;
}

/* Workout Cards */
.workoutCards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.workoutCard {
  background: #f9fafe;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 1px 8px #d3e2ff;
  position: relative;
}

.cancelWorkout {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 12px 20px;
  border-radius: 42px;
  border: 0;
  background-color: #5ba2fe;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.cancelWorkout:disabled {
  background-color: #5ba2fe20;
  cursor: not-allowed;
}

.workoutImg {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.workoutImg img {
  width: 100%;
  display: block;
  object-fit: cover;
}




.workoutForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.workoutForm span {
  font-weight: bold;
  font-size: 16px;
}

.workoutSet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Sets */
.sets {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.set {
  display: flex;
  gap: 6px;
}

.selectedSet {
  background: #5ba2fe;
  color: white;
  padding: 6px 16px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

.notSelectedSet {
  background: #5ba2fe40;
  color: #5ba2fe;
  padding: 6px 16px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

/* Animation for the popup */
@keyframes slideIn {
  from {
    transform: translate(-50%, 20px);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -20px);
    opacity: 0;
  }
}

.success-popup {
  animation: slideIn 0.3s ease-out forwards;
}

.success-popup.hide {
  animation: slideOut 0.3s ease-in forwards;
}

.removeSet {
  background-color: #5BA2FE;
  border: 0;

  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.reps,
.weights {
  display: flex;
  flex-direction: column;
}

/* Failure Option */
.failure {
  display: flex;
  gap: 10px;
  flex-direction: column;
}



.failure>div {

  display: flex;
  gap: 12px;
  align-items: center;
}



/* Workout Templates  */